<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    

    <div id="action-btns">
        <button id="interview-btn"><a href="/interview">GO to interview</a> </button>
        <button id="toggle">Hide New Student Form</button>
        <button id="to-csv-button" type="button" onclick="tableToCSV()" >download CSV</button>
        <div id="logout">
        
            <button id="logout-btn" ><a href="users/destroy-session">log out</a> </button>
        </div>
       
    </div>
    <section>
        

</html>