<div>
    <h1> Interview Detail Page </h1>
    <h3><%=company_name%></h3>
    <h2>Add Students to interivies </h2>

    <section>
       <% for(student in students) { %>
            <%=student.name%>
        <% } %>
    </section>
</div>