
<link rel="stylesheet" type="text/css" href="/assets/css/signin.css">
<div>


<h1>
    sign in 
</h1>
<form id="form-inputs" action="/users/create-session" method="POST">
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="password">
<input type="submit" class="submit" value="submit">
</form>

</div>



